@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --brand-gradient: linear-gradient(
    90deg,
    #ff7a18 0%,
    #e83e8c 50%,
    #8b3dff 100%
  );
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: white;
  font-family: "Inter", sans-serif;
}

.brand-gradient {
  background-image: var(--brand-gradient);
}

.gradient-text {
  background-image: var(--brand-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}